<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>672293511257-jb4tbepkrkahk42qkitk0bmnci5ldd9k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.672293511257-jb4tbepkrkahk42qkitk0bmnci5ldd9k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>672293511257-o7rnpiam6995b1hjq63d5c791jpmio4t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBwb9zAVjODoi4Mu9qN97bXZkd93Bc_u9M</string>
	<key>GCM_SENDER_ID</key>
	<string>672293511257</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>meet-me-f65c4</string>
	<key>STORAGE_BUCKET</key>
	<string>meet-me-f65c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:672293511257:ios:53c2558a9747096f811148</string>
</dict>
</plist>